
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  
  .btn-primary {
    @apply bg-primary text-white px-6 py-2 rounded-lg font-semibold hover:bg-indigo-700 transition-colors shadow-md disabled:opacity-50 flex items-center justify-center gap-2;
  }

 
  .input-padrao {
    @apply w-full px-4 py-2 border border-slate-300 dark:border-slate-600 rounded-lg focus:ring-2 focus:ring-primary focus:outline-none dark:bg-slate-700 dark:text-white transition-colors;
  }
}

body {
  @apply bg-lightBg dark:bg-darkBg text-slate-900 dark:text-slate-100 font-sans transition-colors duration-300;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in-down {
  animation: fadeIn 0.5s ease-out forwards;
}